@import '../../../styles/utils';
.sign-up-page {
  &:extend(.flex-col);
  .sign-up-page--header {
    &:extend(.flex-col);
    &:extend(.flex-center);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sign-up-page--header-logo {
    width: 250px;
    padding: 20px;
    box-sizing: content-box;
  }
  .sign-up-page--body {
    &:extend(.flex-row);
    justify-content: center;
  }
  .sign-up-page--body-inner {
    &:extend(.flex-row);
    max-width: 1200px;
    width: 80%;
  }
  .sign-up-page--product-container,
  .sign-up-page--form-container {
    &:extend(.flex-col);
    align-items: center;
    padding: 20px;
    flex: 1 1 auto;
    max-width: 50%;
  }
  .sign-up-page--product-image-container {
    &:extend(.flex-col);
    &:extend(.flex-center);
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .sign-up-page--product-image {
    height: 160px;
  }
  .sign-up-page--product-desc-container {
    padding: 0 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .sign-up-page--product-logo-container {
    margin-bottom: 20px;
    padding: 10px;
  }
  .sign-up-page--product-logo {
    margin: 0 auto 20px;
    height: 25px;
    display: block;
  }
  .sign-up-page--product-help-container {
    &:extend(.flex-row);
    &:extend(.flex-center);
    border: 1px solid @utils-border-color;
    padding: 24px;
    border-radius: 3px;
    height: 80px;
    width: 90%;
  }
  .sign-up-page--product-help-icon {
    width: 24px;
  }
  .sign-up-page--product-help-text {
    padding: 0 20px;
    color: #6C798F;
    font-size: 14px;
    line-height: 24px;
  }
  .sign-up-page--product-help-text a {
    color: #0065FF;
    text-decoration: none;
  }
  .sign-up-page--form-container {
    align-items: flex-start;
  }
  .sign-up-page--form-section {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }
  .sign-up-page--form-section>div {
    &:extend(.flex-col);
    flex: 1 1 auto;
  }
  .sign-up-page--form-section>div,
  .sign-up-page--form-section>a,
  .sign-up-page--form-section>p,
  .sign-up-page--form-section button[type="submit"] {
    margin: 0 5px 12px;
  }
  .sign-up-page--form-section.wrap {
    flex-wrap: wrap;
  }
  .sign-up-page--form-section .form-link {
    font-size: 12px;
    width: 100%;
    margin-bottom: 12px;
    &:hover {
      text-decoration: none;
    }
  }
}