@import "~css-reset-and-normalize/less/reset-and-normalize.less";
@import '~@atlaskit/util-shared-styles/src/mixins/headings.less';

body {
  background: #fff;
  font-family: LLCircularWeb, "Helvetica Neue", Helvetica, sans-serif;
}

p {
  font-weight: 400;
  font-style: normal;
  color: #091E42;
  font-size: 16px;
  line-height: 24px;
}

a{
  color: @ak-color-B300 !important;
  text-decoration: none;
  font-weight: 400;
}