@import '~@atlaskit/util-shared-styles/src/mixins/headings.less';

@utils-border-color:@ak-color-N60;

.flex-row {
  display: flex
}

.flex-col {
  display: flex;
  flex-direction: column
}

.flex-center {
  justify-content: center;
  align-items: center;
}