@import '../../styles/utils';
.preloader {
  &:extend(.flex-col);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .preloader--text {
    margin-top: 20px;
  }
}